.accountsButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    margin: 0 auto 40px auto;
    width: fit-content;
}

.accountFunctionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 40px;
}

.accountsOutputDisplay {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}


.addAccountBtn {
    background-color: #4CAF50;
}

.addAccountBtn:hover {
    background-color: #357a38;
}

.deleteAccountBtn {
    background-color: #f44336;
}

.deleteAccountBtn:hover {
    background-color: #ba2c1d;
}

.claimAccountBtn {
    background-color: #ff9800;
}

.claimAccountBtn:hover {
    background-color: #cc7a00;
}

.accountsTableContainer {
    width: fit-content;
    margin: 0 auto 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.accountsTableContainer th,
.accountsTableContainer td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

.accountsTableContainer th {
    background-color: #f2f2f2;
    color: #333;
}

.accountsTableContainer tr:nth-child(even) {
    background-color: #f9f9f9;
}

.helpBtn {
    background-color: #008cba;
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
}

.helpBtn:hover {
    background-color: #005f5f;
}

.textInput {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}