.randomNumberGeneratorButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.randomNumberDisplay {
    margin-top: 5px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 5px;
}

.minMaxContainer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.randomNumberGeneratorTextLabel {
    font-size: 16px;
    color: #343;
    text-align: center;
}

.numberInput {
    width: 100%;
    max-width: 150px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 10px;
}

