.frontpageButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
}

.frontpageDescription {
    font-size: 22px;
    max-width: 700px;
    min-width: 200px;
}

.randomNumberGeneratorButton {
    background-color: #9c27b0;
    align-self: center;
}

.randomNumberGeneratorButton:hover {
    background-color: #6d1b7b;
}

.valAccountBtn {
    background-color: #3f51b5;
    align-self:center;
}

.valAccountBtn:hover {
    background-color: #2c387e;
}

.randomQuoteButton {
    background-color: #e91e63;
    align-self: center;
}

.randomQuoteButton:hover {
    background-color: #ad1457;
}