body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    color: #666;
    line-height: 1.6;
    text-align: center;
}

h2 {
    color: #555;
    margin-top: 10px;
    text-align:center;
    margin-bottom: 30px;
    font-size: 20px
}

button {
    background-color: #607d8b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    
}

button:hover {
    background-color: #34515e;
}

.homeBtn {
    background-color: #008cba;
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
}

.homeBtn:hover {
    background-color: #005f5f;
}

